@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(51 65 85);
  padding: 20px;
}

h1 {
  @apply text-4xl font-bold p-3;
}

h2 {
  @apply text-3xl font-bold p-2 text-gray-700;
}

h3 {
  @apply text-xl font-bold p-1;
}

h4 {
  @apply text-lg font-bold p-1;
}

.chapter {
  @apply rounded border-2 border-gray-400 p-6 m-6 bg-white;
}

button {
  @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
}

button:disabled {
  @apply bg-gray-400 text-gray-700;
}

input {
  @apply border border-gray-400 p-2 m-2 rounded;
}

textarea {
  @apply border border-gray-400 p-2 m-2 rounded;
}

select {
  @apply border border-gray-400 p-2 m-2 rounded;
}